<footer class="footer">
    <div class="footer-container">
        <div class="footer-col col-novedades">
            <h3>NOVEDADES</h3>
            <p>Software de detector de objetos, que se puede usar para detectar objetos apuntando a la cámara. Los datos a mostrar serán como escanear un producto, que saca nombre, precio.</p>
            <h3>REDES SOCIALES</h3>
            <div class="footer-socials">
                <a href="#" class="social-circle"><i class="bi bi-facebook"></i></a>
                <a href="#" class="social-circle"><i class="bi bi-youtube"></i></a>
                <a href="#" class="social-circle"><i class="bi bi-tiktok"></i></a>
            </div>
        </div>
        <div class="footer-col col-brand">
            <div class="footer-logo-box">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-box" viewBox="0 0 16 16">
                    <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z" />
                </svg>
            </div>
            <h2>OBJET-X</h2>
        </div>
        <div class="footer-col col-contacts">
            <div class="traffic-lights">
                <span class="light red"></span>
                <span class="light yellow"></span>
                <span class="light green"></span>
            </div>
            <div class="contact-info">
                <h3>CONTACTOS</h3>
                <p class="p-contact"><span>951 648 614</span><i class="bi bi-telephone"></i></p>
                <p class="p-contact"><span>910 469 288</span><i class="bi bi-telephone"></i></p>
                <p class="p-contact"><span>STUDICALEB4@GMAIL.COM</span><i class="bi bi-envelope-at"></i></p>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>Todos los derechos reservados - OBJET-X</p>
    </div>
</footer>